In [2]:
masks_lst = glob("axial_masks/*")

In [ ]:
masks_lst = glob("axial_masks/*")

In [5]:
pd.read_csv("ctpel_split.csv")

                  id  split
0   02781BB458B7EEE0  train
1   02CC41B35F6C8145  train
2   06BE6C20741AFADD  train
3   083B371B51E8CC0B   test
4   08D745849406C9D5  train
..               ...    ...
85  F0153D8ED3822B16  train
86  F08C01C4F5DC66B4  train
87  FD8E42D075A45A2F   test
88  DF7C5391DF882E08  train
89  D8807180F5048ADF   test

[90 rows x 2 columns]

In [1]:
from glob import glob
import random
import pandas as pd

In [4]:
drr_lst = glob("ctpel_drr/drr/*.png")

In [5]:
drr_lst[0]

'ctpel_drr/drr/02781BB458B7EEE0_drr.png'

In [3]:
ctpel_dict = {'id': [], 'split': []}

In [6]:
id_lst = [x.split('/')[-1].split('_')[0] for x in drr_lst]

In [9]:
ctpel_dict['id'] = id_lst

In [10]:
split_lst = ['train']*70+['val']*10+['test']*10

In [13]:
random.shuffle(split_lst)

In [15]:
ctpel_dict['split'] = split_lst

In [18]:
df = pd.DataFrame(ctpel_dict)

In [19]:
df

                  id  split
0   02781BB458B7EEE0  train
1   02CC41B35F6C8145  train
2   06BE6C20741AFADD  train
3   083B371B51E8CC0B   test
4   08D745849406C9D5  train
..               ...    ...
85  F0153D8ED3822B16  train
86  F08C01C4F5DC66B4  train
87  FD8E42D075A45A2F   test
88  DF7C5391DF882E08  train
89  D8807180F5048ADF   test

[90 rows x 2 columns]

In [21]:
df.to_csv("ctpel_split.csv", index=False)

In [24]:
df.values[:, 0]

array(['02781BB458B7EEE0', '02CC41B35F6C8145', '06BE6C20741AFADD',
       '083B371B51E8CC0B', '08D745849406C9D5', '08FF8BEBB1FB756A',
       '0A44743795D421F7', '0AD7CE889B4FB16F', '0D0C5A034B94C222',
       '0FC3188AAA7E6851', '11BC311A21A22818', '12513A2DA6247E3A',
       '129A1F8B9C12F86B', '186C2C2E731D073F', '1D1D8ECAC96EFAA5',
       '2607CE818F67E933', '26DD3530EC0566E9', '28515CE7A6338299',
       '2888F975483629F7', '2DD9A1B65346D271', '308162EDE9FF8B44',
       '31E1D28ADE38ABA9', '339F7F1A6EF6ED24', '3769021426255867',
       '3B3256E6694B0ABE', '3E934A9F0D559A6F', '3F2E8686E524ABCA',
       '413F7A2478FC5F11', '4384905D9F04EE3D', '47DF7844DE611A35',
       '4CD9674D8668698C', '5202FD9C3F3E6DCB', '561D9C46D30CDE75',
       '568C73A17370866F', '56A09B65B422A9C3', '56CA1FFF09488D70',
       '5A48C85404AB8CFD', '623800C4D6E06CFF', '5B6D4F35387FF59C',
       '64C38A134BB232A0', '5BE1ADA090E1EB9C', '7221AE511B771DEA',
       '5F3E9A19B47C2EAD', '73781E0BB50F5CFD', '7544927F31DCD2CC',
       '7645FEEA317A0322', '7649B8253DAA6017', '772CF49213E9182A',
       '78BBB9B8FA64AAE9', '7A84C4C355AAF522', '7D8E6E1C05D04B9D',
       '800ACF15C5100518', '81919050DB84B1E2', '83E1C340F8E5F65D',
       '84AB58449615F6A7', '90474B0E4714E788', '96DB3D1914340624',
       '9E8122CBCB107AC3', '9FB69D514F663A2B', 'A028109FC4FFD563',
       'A09CBBD45477851D', 'A4264147F70AEA89', 'AF0F2977AE15FCEB',
       'B16E560C37DE59B8', 'B1BF7CAA0E66B941', 'B481CBACB2D2317F',
       'B4DE93C52883978B', 'B9C955AF12E715A9', 'B9E075DD7DC4993D',
       'BC3675FA16C01599', 'C0AB424F324B9C12', 'C3306605A8CE9DCF',
       'C3732D71E7AEAD41', 'C3EE0DC08BE06372', 'C64307FC319671E4',
       'CAACC656E5496740', 'CBA97E66414EC66D', 'CE3E4B5B92FBE67D',
       'D70E1BF285046A89', 'D7B443C423B101E8', 'D86B4634ED371FC8',
       'DF8E96657CA10FA1', 'E8645535412D684C', 'EE79892E166A55B4',
       'EF1B0683CDDE35F4', 'F0153D8ED3822B16', 'F08C01C4F5DC66B4',
       'FD8E42D075A45A2F', 'DF7C5391DF882E08', 'D8807180F5048ADF'],
      dtype=object)

In [44]:
from PIL import Image
import numpy as np
from tqdm import tqdm

In [41]:
for drr in tqdm(drr_lst):
    img = Image.open(drr)
    if img.size[-1] > 512:
        Image.fromarray(np.array(img)[-512:]).save(f"drr_crop/{drr.split('/')[-1]}")
    else:
        Image.fromarray(np.array(img)[-img.size[-1]:]).resize((512, 512)).save(f"drr_crop/{drr.split('/')[-1]}")

In [45]:
size_lst = []
for drr in tqdm(drr_lst):
    img = Image.open(drr)
    size_lst.append(img.size)

100%|██████████| 90/90 [00:00<00:00, 14980.25it/s]

In [47]:
min(size_lst)

(512, 512)

In [53]:
mask_lst = glob("ctpel_drr/mask/*.png")

In [51]:
for mask in tqdm(mask_lst):
    img = Image.open(mask)
    if img.size[-1] > 512:
        Image.fromarray(np.array(img)[-512:]).save(f"mask_crop/{mask.split('/')[-1]}")
    else:
        Image.fromarray(np.array(img)[-img.size[-1]:]).resize((512, 512)).save(f"mask_crop/{mask.split('/')[-1]}")

100%|██████████| 450/450 [00:03<00:00, 129.17it/s]